<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="rs232app.Set" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="rs232app.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <rs232app.Set>
            <setting name="PortName" serializeAs="String">
                <value/>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Handshake" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="DataSpeed" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="NumberOfDataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="StopSymbol" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="PingTimeout" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="PingRequestMessage" serializeAs="String">
                <value>PING</value>
            </setting>
            <setting name="PingResponseMessage" serializeAs="String">
                <value>PONG</value>
            </setting>
            <setting name="DataIOControl" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="EchoEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StopSymbolString" serializeAs="String">
                <value/>
            </setting>
        </rs232app.Set>
        <rs232app.Settings>
            <setting name="Port" serializeAs="String">
                <value/>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Handshake" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Speed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NumberOfDataBits" serializeAs="String">
                <value>0</value>
            </setting>
        </rs232app.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
